In [1]:
from sqlalchemy import create_engine
import pandas as pd
import sqlite3

In [3]:
conn = sqlite3.connect("tv_data.sqlite")
cur = conn.cursor()

In [4]:
# Top 10 shows - take off the limit to see everything
top10shows = pd.read_sql_query("SELECT Title, RANK() OVER(ORDER BY `Rating Count` DESC) as Rank, `Rating Count` from TvShows LIMIT 10;", conn)
top10shows

              Title  Rank  Rating Count
0       Money Heist     1        9208.0
1  The Walking Dead     2        7500.0
2         The Flash     3        5553.0
3   Stranger Things     4        5502.0
4          Stranger     4        5502.0
5      Breaking Bad     6        5478.0
6         Riverdale     7        5028.0
7           Lucifer     8        4799.0
8             Elite     9        4624.0
9   The Good Doctor    10        4563.0

In [1]:
# Where are TV show most popular, compartively-speaking
popByCountry = pd.read_sql_query("SELECT Country, AVG(Popularity) as 'Avg Pop', Title() OVER (ORDER BY AVG(Popularity) DESC) as Title from TvShows GROUP BY Country", conn)
popByCountry

NameError: name 'pd' is not defined