In [11]:
from sqlalchemy import create_engine
import pandas as pd
import sqlite3

In [15]:
conn = sqlite3.connect("tv_data.sqlite")
cur = conn.cursor()

In [17]:
# Top 10 shows - take off the limit to see everything
top10shows = pd.read_sql_query("SELECT Title, RANK() OVER(ORDER BY `Rating Count` DESC) as Rank, `Rating Count` from TvShows LIMIT 10;", conn)
top10shows

DatabaseError: Execution failed on sql 'SELECT Title, RANK() OVER(ORDER BY `Rating Count` DESC) as Rank, `Rating Count` from TvShows LIMIT 10;': no such table: TvShows

In [14]:
# Where are TV show most popular, compartively-speaking
popByCountry = pd.read_sql_query("SELECT Country, AVG(Popularity) as 'Avg Pop', Rank() OVER (ORDER BY AVG(Popularity) DESC) as Rank from TvShows GROUP BY Country", conn)
popByCountry

DatabaseError: Execution failed on sql 'SELECT Country, AVG(Popularity) as 'Avg Pop', Rank() OVER (ORDER BY AVG(Popularity) DESC) as Rank from TvShows GROUP BY Country': no such table: TvShows